header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 30px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    background: var(--main-red);
    z-index: 10;
}

#welcome-section {
    height: 100vh;
    display: grid;
    place-items: center;
    background: var(--main-gray);
}

#contact {
    color: var(--main-white);
    text-align: center;
    min-height: 300px;
    display: grid;
    place-items: center;
    background: var(--main-gray);
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}