*, *:before, *:after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}


img {
    width: 100%;
    display: block;
}